{% extends "base.html" %}
{% load static %}


{% block sub_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block sub_header %}
     <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col mb-2 text-center">
                    <h2 class="text-uppercase ">My Profile <i class="fas fa-user fa-lg"></i></h2>
                    <hr class="w-50 mb-1 border border-dark border-1">
                </div>
            </div>
        </div>
        <div class="row">
               
        </div>
    </div>
    {{ user_profile }}

   
{% endblock %}

