{% extends "base.html" %}
{% load static %}


{% block sub_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block sub_header %}
     <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col mb-2 text-center">
                    <h2 class="text-uppercase ">My Profile <i class="fas fa-user fa-lg"></i></h2>
                    <hr class="w-50 mb-1 border border-dark border-1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="text-muted">Delivery Info</p>
                <form id="user-profile-update-form" class="mb-3" method="POST" action="{% url 'profile' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="ml-1 text-uppercase px-4 py-3 btn btn-lg btn-rounded float-right border border-1 border-dark text-center">
                        <span>Update</span>
                        <i class="fas fa-edit"></i>
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <p class="text-muted">Delivery Info</p>
                {{ receipts }}
            </div>               
        </div>
    </div>
   
{% endblock %}

{% block footer_js %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
   
{% endblock %}