{% extends "base.html" %}
{% load static %}


{% block sub_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block sub_header %}
     <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col mb-2 text-center">
                    <h2 class="text-uppercase ">Thank You <i class="far fa-check-circle"></i></h2>
                    <hr class="w-50 mb-1 border border-dark border-1">
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col col-sm-6 mt-5 text-center mx-auto">
                    <div class="row">
                        <div class="col-3 text-left"><strong>Receipt Number:</strong></div>
                        <div class="col-9 text-right">{{ receipt.receipt_number }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Date:</strong></div>
                        <div class="col-9 text-right">{{ receipt.date }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Full Name:</strong></div>
                        <div class="col-9 text-right">{{ receipt.full_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Address:</strong></div>
                        <div class="col-9 text-right">{{ receipt.street_address }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Town or City:</strong></div>
                        <div class="col-9 text-right">{{ receipt.town_or_city }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Post Code (optional):</strong></div>
                        <div class="col-9 text-right">{{ receipt.postcode }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Country:</strong></div>
                        <div class="col-9 text-right">{{ receipt.country }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Email:</strong></div>
                        <div class="col-9 text-right">{{ receipt.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left"><strong>Phone Number:</strong></div>
                        <div class="col-9 text-right">{{ receipt.phone_number }}</div>
                    </div>

                    <hr class="hr-dashed">
                    {% for item in receipt.lineitems.all %}
                    <div class="row">
                        <div class="col-8 text-left"><strong>{{ item.product.name }}</strong></div>
                        <div class="col-4 text-right">{{ item.quantity }} kg ({{ item.product.price }} &euro; per kg)</div>
                    </div>
                    {% endfor %}
                    <br>
                    <div class="row">
                        <div class="col-8 text-left"></div>
                        <div class="col-4 text-right"><strong>total incl. ({{ TAX_PERCENTAGE }} %) tax {{ receipt.total_plus_tax }} &euro;</strong></div>
                    </div>
                    <hr class="hr-dashed">

                    <p class="text-left text-muted">A confirmation letter will be sent to your email.</p>

                    <div class="text-right">
                        {% if from_user_profile %}
                            <a href="{% url 'profile' %}" class="ml-1 text-uppercase px-4 py-3 btn btn-lg rounded-pill border border-1 border-dark">
                                <span class="icon mr-2">
                                    <i class="fas fa-chevron-circle-left"></i>
                                </span>
                                <span class="text-uppercase">Profile</span>
                            </a>
                        {% else %}
                            <a href="{% url 'products' %}" class="ml-1 text-uppercase px-4 py-3 btn btn-lg rounded-pill border border-1 border-dark">
                                <span class="icon mr-2">
                                    <i class="fas fa-chevron-circle-left"></i>
                                </span>
                                <span class="text-uppercase">Products</span>
                            </a>
                        {% endif %}
                    </div>     
                </div>
            </div>   
    </div>
{% endblock %}

