html {
    background: url('/media/page_background_lg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body {
    background: none;
}

.stripe-style-form {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.stripe-style-form:focus,
.stripe-style-form:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-form::placeholder {
    color: #aab7c4;
}

.stripe-style-form {
    font-family: Helvetica, sans-serif;
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child){
    color: #000;
}

#id_default_country option:first-child{
    color: #aab7c4;
}