{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block sub_css %}
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block sub_header %}
     <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container table-container">
        <div class="row">
            <div class="col">
                <div class="col mb-2 text-center">
                    <h2 class="text-uppercase ">Shopping Cart <i class="fas fa-shopping-cart fa-lg"></i></h2>
                    <hr class="w-50 mb-1 border border-dark border-1">
                </div>
            </div>
        </div>
        {% if basket_items %}
           
        <div class="row mt-5 table-responsive">
           <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Item Info</th>
                <th class="text-center" scope="col">Price(kg)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket_items %}
                    <tr>
                        <td class="mx-auto">
                            <p><strong>{{ item.product.name }}</strong>
                            <a id="remove_btn_{{ item.item_id }}" class="remove-btn text-uppercase btn btn-sm">
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </a>
                            <div class="mx-auto mb-2">
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="card-img card-img--sm" alt="{{ item.product.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img card-img--sm" alt="{{ item.product.name }}">
                            {% endif %}
                            </div>
                            <form action="{% url 'update_basket' item.item_id %}" method="POST" class="text-center">
                                {% csrf_token %}
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrease-qty btn btn-black " data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                            <span class="icon">
                                                <i class="class fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" class="border rounded-pill text-center form-control qty_input" aria-describedby="qty_of_products"
                                    type="number" name="quantity" value="{{ item.qty }}" min="1" max="99" id="id_qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}"> 
                                    <div class="input-group-append">
                                        <button class="increase-qty btn btn-black" data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                            <span class="icon">
                                                <i class="class fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center mx-auto">
                                <a id="update_btn_{{ item.item_id }}" class="update-btn text-uppercase btn btn-sm rounded-pill border border-1 border-dark">Update</a>
                            </div>
                            </p>
                        </td>
                        
                        <td class="align-middle">
                            <p class="text-center">Price (kg): <strong>{{ item.product.price }}</strong></p>
                            <p class="text-center"><strong>  x {{ item.qty }}</strong></p>
                            <p class="text-center">Subtotal: <strong>&euro; {{ item.product.price | calculate_subtotal:item.qty }}</strong></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-right">
                <h6><strong>Total: </strong>&euro;{{ total_cost|floatformat:2 }}</h6>
                <h5><strong>Total (incl. {{ TAX_PERCENTAGE }}% Tax): </strong>&euro;{{ total_plus_tax|floatformat:2 }}</h5>
            </div>
        </div>
        <div class="row mt-2 pb-3">
                <div class="col-12 d-flex justify-content-end">
                    <a href="{% url 'products' %}" class="text-uppercase px-4 py-3 btn btn-lg btn-rounded-left border border-1 border-dark text-center">
                        <i class="fas fa-chevron-circle-left fa-lg"></i>
                        <span> Products</span> 
                    </a>
                    <a href="{% url 'checkout' %}" class="ml-1 text-uppercase px-4 py-3 btn btn-lg btn-rounded-right border border-1 border-dark text-center">
                        <span> Checkout </span>
                        <i class="fas fa-chevron-circle-right fa-lg"></i>
                    </a>
                </div>
        </div>
        {% else %}
        <div class="row mt-3">
                <div class="col-12">
                    <p class="lead my-4 text-center">
                        You shopping cart is empty, but it does not to be! 
                    </p>
                </div>
                <div class="col-12 col-sm-auto rounded-pill border border-1 border-dark text-center">
                    <a href="{% url 'products' %}" class="text-uppercase px-4 py-3 btn btn-lg ">
                        <i class="fas fa-chevron-circle-left"></i>
                        <span> Products</span> 
                    </a>
                </div>
        </div>
        {% endif %}
    </div>
{% endblock %}


{% block footer_js %}
{{ block.super }}
    <script src="{% static 'products/js/products.js' %}"></script>

    <script type="text/javascript">
        $('.update-btn').click(function(ev){
            var form = $(this).parent().prev();
            console.log(form)
            form.submit();
        })

        $('.remove-btn').click(function(ev){
            var csrftocken = "{{csrf_token }}"
            var item_id = parseInt($(this).attr('id').split('remove_btn_')[1]);
            console.log(item_id)
            var template = `/basket/remove/${item_id}/`
            var data = {'csrfmiddlewaretoken': csrftocken}

            $.post(template, data)
             .done(function(){
                location.reload();
            })
        })

    </script>
{% endblock %}