html{
    height: 100%; /* required for h-100 class and vertical center position */
}

body{
    background: url('/media/homepage_background_lg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 180px);
    color: #000;
    font-family: 'Roboto', sans-serif;
}


.logo-font {
    font-weight: 500;
    
}

.text-shadow {
    text-shadow: 2px 2px #f1ddd4; /* shadow color of the cup in the home page */
}

.jumbo-font {
    font-weight: 400;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.card-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img:hover {
    border: 1px ;
    
}

.card-img--lg {
    height: 300px;
    width: 300px;
}

.card-img--sm {
    height: 150px;
    width: 150px;
}

.prtype {
   margin: inherit;
   font-size: 0.8rem;
   padding: 5px;
   margin-right: 3px;
}

.btn-rounded-left {
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.btn-rounded-right{
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999999;
}

.toast-title {
    height: 3px;
}

.toast-style {
    overflow: visible;
}

.hr-dashed {
    border: 1px dashed #000;
}

.colored-link{
    color: #8f5b45;
}



/* -------------- media queries -------------- */

@media(min-width: 992px) {
    .top-container {
        padding-top: 180px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media(max-width: 991px) {
    .logo-font {
        font-size: 1.4rem;
        font-weight: 700;
    }

    #welcome-btn{
        width: 500%;
    }

    .top-container{
        padding-top: 230px;
    }

    body {
        height: calc(100vh - 200px);
    }

    .nav-link{
        padding: 0rem;
    }

    .btn.btn-lg.btn-rounded-left,
    .btn.btn-lg.btn-rounded-right{
        font-size: 1rem;
        padding: 0.78rem !important;
    }

    .input-group{
        width: 100% !important;
    }

    .sub-link-text{
        font-size: 0.8rem;
    }
}






