html {
    background: url('/media/page_background_lg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body {
    background: none;
}

.card-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img:hover {
    border: 1px ;
    
}

.card-img--lg {
    height: 300px;
    width: 300px;
}

.prtype {
   margin: inherit;
   font-size: 0.8rem;
   padding: 5px;
   margin-right: 3px;
}

.btn-rounded-left {
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.btn-rounded-right{
     border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
