{% extends "base.html" %}

{% block sub_header %}
    <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="allauth-form-inner-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}