{% extends "base-without-header.html" %}
{% load static %}


{% block main_content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3 col-md-4 my-auto px-3 mb-3">
                <h2 class="text-uppercase text-dark text-shadow">
                   <span class="text-danger">500 error</span>
                </h2>
                <h1 class="text-uppercase">Server Error <i class="fas fa-exclamation"></i></h1>
                <div class="my-3">
                    <h3>
                        <a href="{% url 'home' %}" class="text-uppercase px-4 py-3 btn btn-secondary btn-lg rounded-pill" id="welcome-btn">
                            home
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}