{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- support older internet explorer -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block sub_meta %}
    {% endblock %}
    
    {% block maincss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block sub_css %}
    {% endblock %}

    {% block  mainjs %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block sub_js %}
    {% endblock %}

    <title>Pick_me_up{% block sub_title %}{% endblock %}</title>
  </head>
  <body>

    <header class="container-fluid fixed-top">
        <div class="row bg-white pt-2 d-lg-flex">
            <div class="col-3 col-sm-4 text-left">
            <ul class="list-inline">
               <li class="list-inline-item dropdown">
                        <a class="nav-link border-0 bg-white text-dark text-center" id="user-dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <div><i class="far fa-user fa-lg {% if request.user.is_authenticated %} colored-link {% else %} text-dark {% endif %}"></i></div>
                            <p class="my-1 sub-link-text {% if request.user.is_authenticated %} colored-link {% else %} text-dark {% endif %}">
                                {% if request.user.is_authenticated %}
                                    {{ request.user.username }}
                                {% else %}
                                    Account
                                {% endif %}
                            </p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-dropdownMenuButton">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'add_product' %}">Product Managment</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'account_logout'%}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'account_signup'%}">Signup</a>
                                <a class="dropdown-item" href="{% url 'account_login'%}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 text-center d-flex align-items-center justify-content-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font text-uppercase text-dark text-center text-shadow">Pick me up</h1>
                </a>
            </div>
            <div class="col-3 col-sm-4 d-flex justify-content-end">
                    <a href="{% url 'basket_view' %}" class="nav-link border-0 bg-white text-center {% if total_cost %} colored-link {% else %} text-dark {% endif %}">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                        <p class="my-1 d-flex justify-content-center sub-link-text">
                            {% if total_cost %}
                                &euro; {{ total_cost|floatformat:2 }}
                            {% else %}
                                &euro; 0.00
                            {% endif %}
                        </p>
                    </a>
            </div>
        </div>
        
        <div class="row bg-white border-top py-2">  
                {% include 'includes/main-navbar.html' %}
        </div>
        
     
    </header>

    {% if messages %}
        <div class="message-container">
           {% for message in messages %}
                {% with message.level as L %}
                    {% if L == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% elif L == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif L == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% else %} 
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
           {% endfor %} 
        </div>
    {% endif %}

    {% block sub_header %}
    {% endblock %}

    {% block main_content %}
    {% endblock %}
    
    {% block footer_js %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>
</html>