html {
    background: url('/media/page_background_lg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body {
    background: none;
}

td p {
    margin-bottom: 0;
}


@media(min-width: 991px){
    .table-container{
        width: 50%;
    }


}

@media(max-width: 336px){
    .table-container{
        font-size: 0.65rem;
    }

    
}
