html {
    background: url('/media/page_background_lg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body {
    background: none;
}