{% extends "base.html" %}
{% load static %}

{% block sub_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block sub_header %}
    <div class="container top-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-2 text-center">
                <h2 class="text-uppercase ">Products</h2>
                <hr class="w-50 mb-1 border border-dark border-1">
                {% include 'includes/search-sort-navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
                     
                    {% for product in products %}

                    <div class="col mb-4">
                        <div class="card h-100 bg-transparent text-dark border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"></p>
                            <p class="lead text-center font-weight-bold">&euro; {{ product.price }}</p>
                            {% if product.prtype %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'products' %}?prtype={{ product.prtype }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.prtype }}
                                </a>
                            </p>
                            {% endif %}
                            {% if product.category %}
                                <p class="small mt-1 mb-0 text-center">
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tags mr-1"></i>{{ product.category.display_name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"> {{ product.rating }} / 5 </i></small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}

                            {% if request.user.is_superuser %}
                                <div class="text-center">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0 text-center">
                            
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
        <script type="text/javascript">
            $('#sort-selector').change(function() {
                var selector=$(this);
                var currentURL = new URL(window.location);

                var selectValue = selector.val();

                currentURL.searchParams.delete('q'); /* this removes any search keyword before filtering */
                
                if (selectValue !='reset') {
                    var prtype = selectValue.split('_')[0];
                    var sort = selectValue.split('_')[1];
                    var direction = selectValue.split('_')[2];

                    currentURL.searchParams.set('prtype', prtype);
                    currentURL.searchParams.set('sort', sort);
                    currentURL.searchParams.set('direction', direction);

                    window.location.replace(currentURL);
                } else {
                    currentURL.searchParams.delete('prtype');
                    currentURL.searchParams.delete('sort');
                    currentURL.searchParams.delete('direction');
                    window.location.replace(currentURL);
                }          
            })
        </script>
{% endblock %}